<div class="container">
  <br>
  <h1>Template form-control simple bootstrap</h1>
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input
          bs-input
          bs-validator
          id="name"
          [errors]="error.name"
          [placeholder]="'your name'"
          formControlName="name"
          type="text"
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input bs-input bs-validator [label]="'Coooool!'" [errors]="error.cool" id="cool" [placeholder]="'cool?'" formControlName="cool" type="text" ngModel>
        </div>
      </div>
    </div>


    <select bs-input bs-validator [label]="'Selecione um cargo'" [errors]="error.select" formControlName="select" id="select">
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>



    <br>
    <button [disabled]="!form.valid" type="submit">Submit</button>

  </form>

  {{form.valid}} {{form.value | json}}
</div>
